.countdown {
  &__container {
    width: 30rem;
    // border: 1px solid red;
    font-family: "Amatic SC", cursive;
    text-shadow: 2px 2px 2px rgba(29, 27, 27, 0.4);
    background-color: #dfedfa;
    padding: 1rem 2rem;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }
  &__number {
    margin: 1rem 0;
  }
}
